#ayudai {
    color: #EC401C;
}
.ayudai2 {
    color: #040101;
}
.VPP {
    color: #4580F6;
}
#Inicio {
    color: #b50ae9; font-size: 30px;
}
.html {
    color: #14d303; font-size: 20px;
}
#In14 {
    color: #DF7607; font-size: 30px;
}
#tenemos {
    color: #5D5A57; font-size: 17px;
}
.VDP {
    color: #17378F; font-size: 20px;
}
#TI {
    color: #A4D10B; font-size: 26px;
}
#Cont {
    color: #384411; font-size: 21px;
}
.CET {
    color: #770c41; font-size: 13px;
}
.form {
    color: #111407; font-size: 18px;
}
#MC {
    color: black; font-size: 44px;
}
#CMI14 {
    color: #B60095; font-size: 40;
}
#imgpalermo {
    height: 20px;
}
#Imagen {
    color: #4D2BE7; font-size: 30px;
}
#Descripción {
    color: #71B223; font-size: 30px;
}
#Caracteristicas {
    color: #DA6408; font-size: 30px;
}
#Costo {
    color: #C9CB58; font-size: 30px;
}
.tipos1 {
    color: #000000; font-size: 20px;
}
#img2 {
    height: 20px;
}
#img3 {
    height: 20px;
}
#img4 {
    height: 20px;
}
.FotoDep {
    height: 225px;
}